<form novalidate>
  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          matInput
          [(ngModel)]="searchText"
          (change)="loadProduct()"
        />
      </div>
    </div>
    <div class="col-1">
      <button
        type="submit"
        class="btn btn-secondary btn-sm"
        (click)="loadProduct()"
      >
        Buscar
      </button>
    </div>
  </div>
</form>
<p>searchText: {{ searchText }}</p>
