<p class="text-right font-weight-light font-italic" *ngIf="sucursales">
  Mostrando {{ sucursales.length }} registros
</p>
<table
  class="table table-bordered table-condensed table-hover table-striped small"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rut</th>
      <th scope="col">Descripción</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Representante legal</th>
      <th scope="col">Actualizado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sucursales; let i = index">
      <td scope="row">{{ i + 1 }}</td>
      <td class="text-nowrap">{{ item.rut | rut }}</td>
      <td scope="col" class="text-capitalize">
        <a
          title="Editar {{ item.name | titlecase }}"
          [routerLink]="['/sucursales/edit', item.id]"
          >{{ item.name | titlecase }}</a
        ><br />
        <small *ngIf="actives(item.relationSystemUserBranch) > 0"
          ><a
            >{{ actives(item.relationSystemUserBranch) }}
            {{
              actives(item.relationSystemUserBranch) > 1 ? "bodegas" : "bodega"
            }}</a
          ></small
        >
      </td>
      <td scope="col">{{ item.address | titlecase }}</td>
      <td scope="col">{{ item.commune.name | titlecase }}</td>
      <td scope="col">{{ item.nombreRepLegal | titlecase }}</td>
      <td scope="col">{{ item.updated | date }}</td>
    </tr>
  </tbody>
</table>
