<p class="text-right font-weight-light font-italic" *ngIf="sucursales">Mostrando {{sucursales.length}}
  registros</p>
<table class="table table-bordered table-condensed table-hover table-striped small">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rut</th>
      <th scope="col">Descripción</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Representante legal</th>
      <th scope="col">Actualizado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sucursales; let i = index">
      <td scope="row">{{i +1}}</td>
      <td class="text-nowrap">{{item.rut | rut}}</td>
      <td scope="col" class="text-capitalize">
        <a title="Editar {{item.descripcion | titlecase}}"
          [routerLink]="['/sucursales/edit', item.id]">{{item.descripcion | titlecase}}</a><br>
        <small *ngIf="item.bodegasAsociadas > 0"><a>{{item.bodegasAsociadas}}
            {{item.bodegasAsociadas > 1 ? 'bodegas' : 'bodega'}}</a></small>
      </td>
      <td scope="col">{{item.direccion | titlecase}}</td>
      <td scope="col">{{item.ciudad | titlecase}}</td>
      <td scope="col">{{item.representante | titlecase}}</td>
      <td scope="col">{{item.updateDate | date}}</td>
    </tr>
  </tbody>
</table>