<br>
<div class="row d-print-none bg-light">
  <div class="col-12">
    <p class="small text-capitalize p-2 mb-0">Informes > Existencia</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <h4>Existencia</h4>
  </div>
</div>
{{request | json}}
<mat-card>
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <dt class="col-5">Subtotal
        </dt>
        <dd class="col-7">:{{234234 | currency:'CLP'}}</dd>
        <dt class="col-5">IVA
        </dt>
        <dd class="col-7">:{{23424 | currency:'CLP'}}</dd>
        <dt class="col-5">Total
        </dt>
        <dd class="col-7">:{{total | currency:'CLP'}}</dd>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="sucursal">Sucursal</label>
            <select id="sucursal" class="form-control form-control-sm" [(ngModel)]="request.idSucursal">
              <option *ngFor="let element of sucursal" [ngValue]="element.id">{{element.descripcion}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="bodega">Bodega</label>
            <select id="bodega" class="form-control form-control-sm" [(ngModel)]="request.idBodega">
              <option *ngFor="let element of family" [ngValue]="element.id">{{element.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" id="description" [(ngModel)]="request.name" class="form-control form-control-sm" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="sku">SKU</label>
            <input type="text" id="sku" [(ngModel)]="request.sku" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <button mat-button color="primary" (click)="getData()">Filtrar</button>&nbsp;
          <button mat-button>Exportar</button>&nbsp;
          <button mat-button>Imprimir</button>&nbsp;
          <button mat-button>Cerrar periodo</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<br>
<mat-card>
  <table class="table table-striped table-bordered table-hover table-condensed small">
    <thead>
      <tr>
        <th><input type="checkbox" (change)="selectAll($event)"></th>
        <th>Articulo</th>
        <th>SKU</th>
        <th>Cantidad</th>
        <th>Medida</th>
        <th>Valor </th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of existenceList">
      <tr>
        <td><input type="checkbox" [(ngModel)]="item.selected" value="first_checkbox"></td>
        <td>{{item.nombre}}</td>
        <td>SKU</td>
        <td class="text-right">{{item.cantidad | currency:'CLP'}}</td>
        <td>Medida</td>
        <td class="text-right">{{item.unitario | currency:'CLP'}}</td>
        <td class="text-right">{{item.unitario * item.cantidad | currency:'CLP'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>TOTAL:</td>
        <td class="text-right"><b>{{total | currency:'CLP'}}</b></td>
      </tr>
    </tfoot>
  </table>
  {{data | json}}
</mat-card>