<br>
<div class="row d-print-none bg-light">
    <div class="col-12">
        <p class="small text-capitalize p-2 mb-0">Configuración > Tablas > Medidas</p>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="sticky-top">
            <br>
            <div class="card">
                <div class="card-body">
                    <app-form></app-form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-5">
        <app-list></app-list>
    </div>
</div>