<div *ngIf="raiz.mostrar && menu">
    <button class="btn btn-link btn-sm" (click)="goBack(raiz.backId)">Volver a {{raiz.nombre}}</button>
</div>
<br>
<div class="card-columns" *ngIf="menu">
    <div class="card" *ngFor="let item of menu">
        <div class="card-body text-center">
            <a class="btn btn-link" (click)="openUrl(item.url, item.parent, item.name)"
                routerLinkActive="active">{{item.name}}</a>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-sm" routerLink="/medidas" routerLinkActive="active">Medidas</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary" routerLink="/usuarios/list" routerLinkActive="active">Usuarios</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary" routerLink="/sucursales" routerLinkActive="active">Sucursales</button>
        </div>
    </div>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-secondary" routerLink="/egreso" routerLinkActive="active">Egreso</button>
    </div>
  </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary">Imprimir Comprobante</button>
        </div>
    </div>
</div>
