<div *ngIf="raiz.mostrar && menu">
    <button class="btn btn-link btn-sm" (click)="goBack(raiz.backId)">Volver a {{raiz.nombre}}</button>
</div>
<br>
<div class="card-columns" *ngIf="menu">
    <div class="card" *ngFor="let item of menu">
        <div class="card-body text-center">
            <a class="btn btn-link" (click)="abrirUrl(item.url, item.parent, item.texto)"
                routerLinkActive="active">{{item.texto}}</a>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-secondary" routerLink="/medidas" routerLinkActive="active">Medidas</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a class="btn btn-secondary" routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary">Imprimir Comprobante</button>
        </div>
    </div>
</div>