
<div *ngIf="id">
<section *ngIf="this.model.created">
  <section class="panel-title">BOLETA N° {{id.id | number:'1.0-0'}}</section>
  <table style="width: 100%">
    <tbody>
    <tr>
      <td class="classic-table-tr">Rut</td>
      <td>: {{id.client.rut}}</td>
      <td class="classic-table-tr">Nombre</td>
      <td>: {{id.client.firstName}} {{id.client.lastName}}</td>
    </tr>
    <tr>
      <td class="classic-table-tr">Fecha</td>
      <td>: {{id.create | date:'dd-MM-yyyy'}}</td>
      <td class="classic-table-tr">Hora</td>
      <td>: {{id.create | date:'HH:MM'}}</td>
    </tr>
    </tbody>
  </table>
</section>
<table class="table table-bordered table-condensed table-hover table-striped small">
  <thead>
  <tr>
    <th>Código</th>
    <th>Descripción</th>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody *ngIf="id">
  <tr *ngFor="let item of id.purchaseDetails">
    <td>{{item.product.id}}</td>
    <td>{{item.product.name}}</td>
    <td class="text-right">{{item.quantity | number:'1.0-0'}}</td>
    <td class="text-right">{{item.valorTotal / item.quantity | number:'1.0-0' }}</td>
    <td class="text-right">{{item.valorTotal | number:'1.0-0'}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th class="text-right">{{getTotal() | currency:'CLP'}}</th>
  </tr>
  </tfoot>
</table>
  <p *ngIf="!id.isActive" class="alert-danger">DOCOCUMENTO ANULADO</p>
</div>
