<br>
<mat-card>
  <mat-card-content>
    <div class="row justify-content-md-center">
      <div class="col-9">
        <app-serach-article (DetailData)="getDetail($event)"></app-serach-article>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy">
          <mat-button-toggle *ngFor="let item of btn" value="item.key"
                             (click)="selectOut(item.key)">{{item.abr}}</mat-button-toggle>
        </mat-button-toggle-group>
        <section *ngIf="model.output === saleType.CASH_SALE">
          <b>Contado</b>
        </section>
        <section *ngIf="model.output === saleType.CREDIT_CARD">
          <b>Crédito</b>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="N° de transacción">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Banco</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Cuotas</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section *ngIf="model.output === saleType.DEBIT_CARD">
          <b>Débito</b>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="N° de transacción">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Banco</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section *ngIf="model.output === saleType.DELIVERY_SUPPLIES">
          <b>Consumo</b>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Rut">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Nombre">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Oficina</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section *ngIf="model.output === saleType.BRANCH_TRANSFER">
          <b>Cambiar de sucursal</b>
        </section>
        <section>
          <div class="form-group">
            <textarea placeholder="Notas u Observacione" class="form-control form-control-sm" rows="3"></textarea>
          </div>
        </section>
        <section *ngIf="editModel">
          <div class="row">
            <div class="col-4">Descripción</div>
            <div class="col-8">{{editModel.description}}</div>
          </div>
          <div class="row">
            <div class="col-8">Disponible</div>
            <div class="col-4"><span class="text-right">{{editModel.available | number}}</span></div>
          </div>
          <div class="row">
            <div class="col-8">Valor</div>
            <div class="col-4"><span class="text-right">{{editModel.amount | number}}</span></div>
          </div>
          <div class="form-group">
            <label>Cantidad</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.quantity">
          </div>
          <div class="form-group">
            <label>Disponible</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.available">
          </div>
          <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.amount">
          </div>
          <button mat-button>Agregar</button>
          <button mat-button (click)="clean()">Limpiar</button>
        </section>
      </div>
      <div class="col-sm-7">
        <mat-card>
          <mat-card-content>
            <b>Detalle</b>
            <table class="table table-bordered table-condensed table-hover table-striped small">
              <thead>
              <tr>
                <th>Cant</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>% Desc</th>
                <th>Subtotal</th>
              </tr>
              </thead>
              <tbody *ngIf="model.detail">
              <tr *ngFor="let item of model.detail" (click)="openDialog(item)" style="cursor: pointer;">
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount | number}}</td>
                <td>{{item.cashDiscount | number}}</td>
                <td>{{item.quantity * item.amount - item.cashDiscount | number}}</td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button mat-button (click)="preFinalize()" [disabled]="model.detail.length == 0 && model.output" color="primary">Finalizar</button>
        <button mat-button (click)="clean()">Limpiar pantalla</button>
        <button mat-button (click)="cashDiscount()">Descuento</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

{{model | json}}
