<br>
<mat-card>
  <mat-card-content>
    <div class="row justify-content-md-center">
      <div class="col-9">
        <div class="row">
          <div class="col-1">
            <mat-checkbox>Granel</mat-checkbox>
          </div>
          <div class="col-11">
            <div class="form-group">
              <input type="text" (change)="getBySku($event)"
                     placeholder="Código / Descripción" class="form-control form-control-sm"
                     matInput
                     [matAutocomplete] = "auto"/>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of articleList" [value]="state.sku"(change)="searchArticle(state.sku)">
                  {{state.name}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <section *ngIf="shippingForm">
          <div class="form-group">
            <textarea placeholder="Notas u Observacione" class="form-control form-control-sm" rows="3"></textarea>
          </div>
        </section>
        <section *ngIf="editModel">
          <div class="row">
            <div class="col-4">Descripción</div>
            <div class="col-8">{{editModel.description}}</div>
          </div>
          <div class="row">
            <div class="col-8">Disponible</div>
            <div class="col-4"><span class="text-right">{{editModel.available | number}}</span></div>
          </div>
          <div class="row">
            <div class="col-8">Valor</div>
            <div class="col-4"><span class="text-right">{{editModel.amount | number}}</span></div>
          </div>
          <div class="form-group">
            <label>Cantidad</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.quantity">
          </div>
          <div class="form-group">
            <label>Disponible</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.available">
          </div>
          <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="editModel.amount">
          </div>
          <button mat-button>Agregar</button>
          <button mat-button (click)="clean()">Limpiar</button>
        </section>
      </div>
      <div class="col-sm-7">
        <mat-card>
          <mat-card-content>
            <b>Detalle</b>
            <table class="table table-bordered table-condensed table-hover table-striped small">
              <thead>
              <tr>
                <th>Cant</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>% Desc</th>
                <th>Subtotal</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of model" (click)="openDialog(item)" style="cursor: pointer;">
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount | number}}</td>
                <td>{{item.cashDiscount | number}}</td>
                <td>{{item.quantity * item.amount - item.cashDiscount | number}}</td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button mat-button (click)="preFinalize()" color="primary">Finalizar</button>
        <button mat-button (click)="clean()">Limpiar pantalla</button>
        <button mat-button (click)="cashDiscount()">Descuento</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
