<div class="row">
    <div class="col-4">
        <h4>Productos</h4>
    </div>
</div>
<div class="form-group text-right">
    <a class="btn btn-primary" routerLink="/product/new">Nuevo producto</a>
</div>
<mat-card>
    <mat-card-content>
        <table class="table table-bordered table-condensed table-hover table-striped small">
            <thead>
                <tr>
                    <th>Sku</th>
                    <th>Descripción</th>
                    <th>Unidad de medida</th>
                    <th>Precio venta</th>
                    <th>Precio granel</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>