<br>
<div class="row d-print-none bg-light">
  <div class="col-12">
    <p class="small text-capitalize p-2 mb-0">Configuración > Usuarios</p>
  </div>
</div>
<form novalidate #usuarioForm="ngForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-4">
      <h4>{{model.action == 'edit' ? 'Actualización de usuario' : 'Nuevo usuario'}}</h4>
    </div>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="" *ngIf="model.action == 'edit'">
        <p class="text-right text-secondary">Nombre de usuario: {{model.userName}}</p>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-5">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="rut">Rut</label>
              <input id="rut" type="text" (change)="validateIfExists()" class="form-control" [(ngModel)]="model.rut"
                name="rut" #rut="ngModel" [readonly]="model.action == 'edit'" required validateRut formatRut />
              <div [hidden]="rut.valid || rut.pristine" class="invalid-feedback">
                Rut es requerido
              </div>
              <small *ngIf="validation.exists" class="bg-gradient-warning">El rut {{validation.rut | rut}} ya
                existe
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" class="form-control" [(ngModel)]="model.nombres" name="nombres"
              #nombres="ngModel" required />
            <div [hidden]="nombres.valid || nombres.pristine" class="invalid-feedback">
              Nombre es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="ApPaterno">Apellido Paterno</label>
            <input type="text" id="apPaterno" maxlength="256" class="form-control" [(ngModel)]="model.apPaterno"
              name="apPaterno" #apPaterno="ngModel" required />
            <div [hidden]="apPaterno.valid || apPaterno.pristine" class="invalid-feedback">
              Nombre es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="ApMaterno" maxlength="256">Apellido Materno</label>
            <input type="text" id="apMaterno" class="form-control" [(ngModel)]="model.apMaterno" name="apMaterno"
              #apPaterno="ngModel" />
          </div>
          <div class="form-group">
            <label for="Fono">Teléfono</label>
            <input id="fono" type="text" class="form-control" [(ngModel)]="model.fono" name="fono" #fono="ngModel" />
          </div>
          <div class="form-group">
            <label for="eMail">Correo Electrónico</label>
            <input id="eMail" type="text" maxlength="256" class="form-control" [(ngModel)]="model.eMail" name="eMail"
              #eMail="ngModel" required email />
            <div [hidden]="eMail.valid || eMail.pristine" class="invalid-feedback">
              Correo es requerido
            </div>
          </div>
          <div class="form-group" *ngIf="model.action =='insert'">
            <label for="userName">Nombre de Usuario</label>
            <input id="userName" maxlength="50" class="form-control" [(ngModel)]="model.userName" name="userName"
              #userName="ngModel" required />
            <div [hidden]="userName.valid || userName.pristine" class="invalid-feedback">
              Username es requerido
            </div>
          </div>
          <div class="form-group" *ngIf="model.action =='insert'">
            <label for="clave">Contraseña</label>
            <input type="text" id="clave" class="form-control" [(ngModel)]="model.clave" name="clave" #clave="ngModel"
              required />
            <div [hidden]="clave.valid || clave.pristine" class="invalid-feedback">
              Contraseña es requerido
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>¿Que perfil de usuario deseas aplicar?</label>
          <mat-radio-group id="rol" name="rol" #rol="ngModel" [(ngModel)]="model.rol" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let rol of common.roles" [value]="rol.idRol">
              {{rol.titulo}}
            </mat-radio-button>
          </mat-radio-group>
          <label>Seleciona una opción de egreso predeterminada</label>
          <p class="bg-gradient-warning" *ngIf="common.egress">No existen datos en la tabla!</p>
          <mat-radio-group id="egres" name="egres" #egres="ngModel" *ngIf="common.egress" class="example-radio-group"
            [(ngModel)]="model.egreso">
            <mat-radio-button class="example-radio-button" *ngFor="let egres of common.egress" [value]="egres.id">
              {{egres.descripcion}}
            </mat-radio-button>
          </mat-radio-group>
          <p>Además de selecionar alguna opción de egreso por defecto, es necesario habilitar algunas de estas
            opciones.
          </p>
          <mat-slide-toggle id="salidaVenta" name="salidaVenta" #salidaVenta="ngModel" [(ngModel)]="model.salidaVenta"
            class="example-margin" [checked]="model.salidaVenta">
            Puede vender
          </mat-slide-toggle><br>
          <mat-slide-toggle class="example-margin" [checked]="model.salidaEmpleados" id="salidaEmpleados"
            name="salidaEmpleados" #salidaEmpleados="ngModel" [(ngModel)]="model.salidaEmpleados">
            Habilitado para entregas internas
          </mat-slide-toggle><br>
          <mat-slide-toggle class="example-margin" [checked]="model.salidaFactura" id="salidaFactura"
            name="salidaFactura" #salidaFactura="ngModel" [(ngModel)]="model.salidaFactura">
            Puede emitir factura
          </mat-slide-toggle>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!usuarioForm.valid">Guadar</button>
        <button type="button" (click)="goToList()" class="btn btn-sm btn-default">Cancelar</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>