<form novalidate #usuarioForm="ngForm" (ngSubmit)="save()" *ngIf="!loading">
  <div class="row">
    <div class="col-4">
      <h4>
        {{
          common.action == "edit" ? "Actualización de usuario" : "Nuevo usuario"
        }}
      </h4>
    </div>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="" *ngIf="common.action == 'edit'">
        <p class="text-right text-secondary">
          Nombre de usuario: {{ model.userName }}
        </p>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-5">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="rut">Rut</label>
              <input
                id="rut"
                type="text"
                (change)="validateIfExists()"
                class="form-control"
                [(ngModel)]="model.rut"
                name="rut"
                #rut="ngModel"
                [readonly]="common.action == 'edit'"
                required
                validateRut
                formatRut
              />
              <div
                [hidden]="rut.valid || rut.pristine"
                class="invalid-feedback"
              >
                Rut es requerido
              </div>
              <small *ngIf="validation.exists" class="bg-gradient-warning"
                >El rut {{ validation.rut | rut }} ya existe
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input
              type="text"
              id="nombres"
              class="form-control"
              [(ngModel)]="model.firstName"
              name="nombres"
              #nombres="ngModel"
              required
            />
            <div
              [hidden]="nombres.valid || nombres.pristine"
              class="invalid-feedback"
            >
              Nombre es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="ApPaterno">Apellido Paterno</label>
            <input
              type="text"
              id="apPaterno"
              maxlength="256"
              class="form-control"
              [(ngModel)]="model.lastName"
              name="apPaterno"
              #apPaterno="ngModel"
              required
            />
            <div
              [hidden]="apPaterno.valid || apPaterno.pristine"
              class="invalid-feedback"
            >
              Nombre es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="ApMaterno" maxlength="256">Apellido Materno</label>
            <input
              type="text"
              id="apMaterno"
              class="form-control"
              [(ngModel)]="model.secondLastName"
              name="apMaterno"
              #apPaterno="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="eMail">Correo Electrónico</label>
            <input
              id="eMail"
              type="text"
              maxlength="256"
              class="form-control"
              [(ngModel)]="model.email"
              name="eMail"
              #eMail="ngModel"
              required
              email
            />
            <div
              [hidden]="eMail.valid || eMail.pristine"
              class="invalid-feedback"
            >
              Correo es requerido
            </div>
          </div>
          <div class="form-group" *ngIf="common.action == 'insert'">
            <label for="userName">Nombre de Usuario</label>
            <input
              id="userName"
              maxlength="50"
              class="form-control"
              [(ngModel)]="model.userName"
              name="userName"
              #userName="ngModel"
              required
            />
            <div
              [hidden]="userName.valid || userName.pristine"
              class="invalid-feedback"
            >
              Username es requerido
            </div>
          </div>
          <div class="form-group" *ngIf="common.action === 'insert'">
            <label for="clave">Contraseña</label>
            <input
              type="text"
              id="clave"
              class="form-control"
              [(ngModel)]="model.password"
              name="clave"
              #clave="ngModel"
              required
            />
            <div
              [hidden]="clave.valid || clave.pristine"
              class="invalid-feedback"
            >
              Contraseña es requerido
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <section *ngIf="roles">
            <label>¿Que perfil de usuario deseas establecer?</label>
            <mat-radio-group
              name="rol"
              class="example-radio-group"
              [(ngModel)]="selectedRoleId"
              (ngModelChange)="changedExtraHandler($event)"
            >
              <mat-radio-button
                name="rol"
                class="example-radio-button"
                *ngFor="let rol of model.relationSystemUserRoles"
                [value]="rol.id"
              >
                {{ rol.role.name }}
              </mat-radio-button>
            </mat-radio-group>
          </section>
          <p>
            Además de selecionar alguna opción de egreso por defecto, es
            necesario habilitar algunas de estas opciones.
          </p>
          <div *ngFor="let outputStatus of model.tipoEgresoUsuarios">
            <mat-slide-toggle
              class="example-margin"
              [checked]="outputStatus.isActive"
              (change)="outputStatus.isActive = !outputStatus.isActive"
            >
              {{outputStatus.outputType.name}}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          [disabled]="!usuarioForm.valid"
        >
          Guadar
        </button>
        <button
          type="button"
          (click)="goToList()"
          class="btn btn-sm btn-default"
        >
          Cancelar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
