<br>
<div class="row d-print-none bg-light">
  <div class="col-12">
    <p class="small text-capitalize p-2 mb-0">Configuración > Usuarios</p>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <h4>Usuarios registrados</h4>
  </div>
</div>
<div class="form-group text-right">
  <a class="btn btn-primary" routerLink="/usuarios/new">Nuevo usuario</a>
</div>
<mat-card>
  <mat-card-content>
    <table class="table table-bordered table-condensed table-hover table-striped small">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Rol</th>
          <th>Correo electrónico</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>
            <a title="Editar a {{item.firstName | titlecase}} {{item.lastName | titlecase}} {{item.secondLastName | titlecase}}"
              [routerLink]="['/usuarios/edit', item.rut]">
              {{item.firstName | titlecase}} {{item.lastName | titlecase}} {{item.secondLastName | titlecase}}</a>

          </td>
          <td>{{getRolName(item.relacionUsuarioRols)}}</td>
          <td>{{item.email}}</td>
          <td>
            <mat-slide-toggle class="example-margin" [checked]="item.isActive"
              (change)="changeStatus($event, item.rut)">
            </mat-slide-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
