<p>Estas en el formulario de sucursales</p>
<form novalidate #sucursalForm="ngForm" (ngSubmit)="update()">
  <fieldset>
    <legend>Información básica </legend>
    <div class="form-group row">
      <label for="rut" class="col-sm-2 col-form-label text-right">Rut</label>
      <div class="col-sm-3">
        <input id="rut" type="text" class="form-control" [(ngModel)]="model.rut" name="rut" #rut="ngModel" required
          validateRut formatRut />
        <div [hidden]="rut.valid || rut.pristine" class="invalid-feedback">
          Rut es requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="txt-nombre" class="col-sm-2 col-form-label text-right">Nombre</label>
      <div class="col-sm-5">
        <input id="nombre" type="text" maxlength="50" class="form-control" [(ngModel)]="model.nombre" name="nombre"
          #nombre="ngModel" required />
        <div [hidden]="nombre.valid || nombre.pristine" class="invalid-feedback">
          Nombre es requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="txt-direccion" class="col-sm-2 col-form-label text-right">Dirección</label>
      <div class="col-sm-5">
        <input id="txt-direccion" type="text" maxlength="80" class="form-control" [(ngModel)]="model.direccion"
          name="direccion" #direccion="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <label for="txt-ciudad" class="col-sm-2 col-form-label text-right">Ciudad</label>
      <div class="col-sm-5">
        <input id="txt-ciudad" type="text" class="form-control" [(ngModel)]="model.nombreComuna" name="nombreComuna"
          #nombreComuna="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <label for="txt-telefono" class="col-sm-2 col-form-label text-right">Teléfono</label>
      <div class="col-sm-5">
        <input id="txt-telefono" type="text" maxlength="50" class="form-control" [(ngModel)]="model.telefono"
          name="telefono" #telefono="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <label for="txt-celular" class="col-sm-2 col-form-label text-right">Celular</label>
      <div class="col-sm-5">
        <input id="txt-celular" type="text" maxlength="50" class="form-control" [(ngModel)]="model.fax" name="fax"
          #fax="ngModel" />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Información legal</legend>
    <div class="form-group row">
      <label for="txt-giro" class="col-sm-2 col-form-label text-right">Giro</label>
      <div class="col-sm-5">
        <input id="txt-giro" type="text" maxlength="250" class="form-control" [(ngModel)]="model.giro" name="giro"
          #giro="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <label for="rutRepLegal" class="col-sm-2 col-form-label text-right">Representante</label>
      <div class="col-sm-2">
        <input id="rutRepLegal" type="text" placeholder="Rut" class="form-control" [(ngModel)]="model.rutRepLegal"
          name="rutRepLegal" #rutRepLegal="ngModel" validateRut formatRut required />
        <div [hidden]="rutRepLegal.valid || rutRepLegal.pristine" class="invalid-feedback">
          Rut es requerido
        </div>
      </div>
      <div class="col-sm-3">
        <input id="nombreRepLegal" type="text" placeholder="Nombre" class="form-control"
          [(ngModel)]="model.nombreRepLegal" name="nombreRepLegal" #nombreRepLegal="ngModel" required />
        <div [hidden]="nombreRepLegal.valid || nombreRepLegal.pristine" class="invalid-feedback">
          Nombre es requerido
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Otras opciones</legend>
    <div class="form-group row">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="model.registroContado"
            name="registroContado" #registroContado="ngModel">
          <label class="form-check-label" for="gridCheck1">
            Usar registro de ingreso al contado
          </label>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Debe estar activa solo si necesitas registrar en ventas con boleta quien canceló al contado.
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="model.registroContado">
      <label for="numero-inicial" class="col-sm-2 col-form-label text-right">Número inicial</label>
      <div class="col-sm-2">
        <input id="numInicialRegContado" type="text" class="form-control text-right"
          [(ngModel)]="model.numInicialRegContado" name="numInicialRegContado" #numInicialRegContado="ngModel"
          (keypress)="numberOnly($event)" [required]="model.registroContado" />
        <div [hidden]="numInicialRegContado.valid || numInicialRegContado.pristine && model.registroContado"
          class="invalid-feedback">
          Nombre es requerido
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="col-sm-7 text-right">
      <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
      <button routerLink="/sucursales" class="btn btn-sm btn-outline-primary btn-space-left">Cancelar</button>
    </div>
  </div>
</form>